@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    }

h2{
    text-align: center;
    color: #00cc8f ;
    margin-top: 20px;
    font-size: 28px;
}

body{
    background-color: #071e26;
}
/* Cambios realizados */
.logo{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap:8px;
    span{
        color:white;
    }
}
/* Modifica las prodpiedades de la imagen del logotipo */
.logo img{
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    color: white;
} 
/*  */
.nav-bar{
    padding: 0 8px 0 8px;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Hasta aqui */

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
    display: flex;
    width: 100%;
    gap: 20px; 
}
.header .nav-links li:hover{
    transform: scale(1.1);
    color: #00cc8f;
}

.header .nav-links a{
    font-size: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.header .nav-links li a:hover{
    color:#00cc8f;
}

.header .btn button{
    font-weight: 700;
    color:#071e26;
    padding: 9px 25px;
    background: #ffeeee;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color:#ffffff ;
    color:#00cc8f;
    transform: scale(1.1);
}

section{
    margin: 30px; 
    margin-top: 20px;
}
#lista{
    justify-items: center;
    color: rgb(220, 206, 206);
}
p{
    color: rgb(220, 206, 206);
    justify-items: center;
    text-align: center;
}
.Planeacion {
    text-align: center;
    color: rgb(220, 206, 206);
}

.Planeacion > li{
    
    margin: 8px;
}

@media (min-width:400px){


    
/* Cambios realizados */
.logo{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    /*gap:8px;*/
    span{
        font-size: 14px;
        color:white;
    }
}
/* Modifica las prodpiedades de la imagen del logotipo */
.logo img{
    height: 40px;
    width: 40px;
    transition: all 0.3s;
   /* color: rgb(246, 80, 80);*/
} 
/*  */
.nav-bar{
  /*  padding: 0 8px 0 8px;*/
    width: 102%;
    display: flex;
    align-items: center;
}

/* Hasta aqui */

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
 /*   list-style: none;*/
    display: flex;
    width: 900px;
    gap :8px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
    color: #00cc8f;
}

.header .nav-links a{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.header .nav-links li a:hover{
    color:#00cc8f;
}

.header .btn button{
    font-weight: 700;
    color:#071e26;
    padding: 10px 7px;
    background: #ffeeee;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color:#ffffff ;
    color:#00cc8f;
    transform: scale(1.1);
}

body{
    background-color: #00b3ef;
}




